@import "_bootstrap_variables";
@import "_bootstrap_custom";
@import "font-awesome";

.card {
  margin-bottom: 15px;
}

.card-img-top {
    height: 15rem;
    object-fit: cover;
}

.same-line{
  display: inline-block;
}

.btn-align{
  margin-bottom: 12px;
  margin-left: 10px;
}

.title-card{
  display: inline-block;
  font-weight: 400;
}
