@import "_bootstrap_variables";
@import "_bootstrap_custom";
@import "font-awesome";

.card {
  margin-bottom: 15px;
}

.card-img-top {
    height: 15rem;
    object-fit: cover;
}

.space-pagination{
  a:link{
    margin-left: 3px;
  }
}

.same-line{
  display: inline-block;
}

.btn-align{
  margin-bottom: 12px;
  margin-left: 10px;
}

.title-card{
  display: inline-block;
  font-weight: 400;
}

// .big-checkbox {width: 30px; height: 30px;}

// input[type=checkbox] {
//     transform: scale(1.2);
//     -ms-transform: scale(1.2);
//     -webkit-transform: scale(1.2);
//
// }
